<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h2> Prezado(a) <%= @municipe.primeiro_nome %>, 
    <h3>Seja bem-vindo!</h3>
    <p>link: <a href="https://www.jedis.com.br/">Equipe Jedis</a></p>
  </body>
</html>